<h1 mat-dialog-title>Upload Bank Transaction</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="walletTransactionLogForm" #f="ngForm" novalidate
    (ngSubmit)="save()">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" type="text" id="studentName" name="studentName" placeholder="Student Name"
            [(ngModel)]="studentWalletTransaction.studentName" #studentName="ngModel" readonly />
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <textarea matInput autocomplete="off" type="text" id="description" name="description" placeholder="Description"
            [(ngModel)]="studentWalletTransaction.description" #description="ngModel" rows="4" readonly></textarea>
        </mat-form-field>

        <div class="col-md-12">
          <mat-label>
            <span class="upload-title">Bank Transaction</span>
            <span class="upload-hint-filetype">Accepts: </span>
            <span class="upload-hint-filetype-values">(*.jpg, *.jpeg, *.png, *.pdf, *.doc, *.docx, *.xls, *.xlsx)</span>
          </mat-label>
          <div>
            <div style="float:left; margin-right: 10px;">
              <file-upload showTxt="false" (onUploadFinished)="uploadFinished($event)"
                [fileName]="uploadFileName" [useOriginalFilename]="true"
                fileTypes=".jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx"></file-upload>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="studentWalletTransaction.filePath" class="col-md-6"
            style="padding:10px; border: 1px dashed #808080;text-align:center">
            <ng-container *ngIf="isImageFile(studentWalletTransaction.filePath); else docPreview">
              <img [src]="getFileImage(studentWalletTransaction.filePath)" alt="file"
                style="width:100px; height:100px;" />
            </ng-container>

            <ng-template #docPreview>
              <a [href]="getFileImage(studentWalletTransaction.filePath)" target="_blank" rel="noopener">
                {{ studentWalletTransaction?.fileName || 'Open document' }}
              </a>
            </ng-template>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 text-center" *ngIf="studentWalletTransaction.filePath">
            <a class="btn btn-link btn-xs font-color-danger" href="javascript:;" (click)="removePhoto()"><i
                class="fa fa-trash-o" aria-hidden="true"></i> Remove</a>
          </div>
          <div class="clearfix"></div>
        </div>


      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i>
        {{'common.editor.Cancel' | translate}}</button>
      <button type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
        {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>