<div>
  <header class="pageHeader">
    <h3>EWallet Transactions</h3>
  </header>
  <div class="row control-box">
    <div class="col-xs-6 col-sm-4">
      <mat-form-field style="width: 100%;">
        <mat-select multiple name="outletId" [(ngModel)]="filter.outletId" placeholder="Outlet"
          (selectionChange)="getGetSelectedOutlet()">
          <mat-option #allSelected value="all" (click)="toggleAllSelection(allSelected.selected)">
            All
          </mat-option>
          <mat-option *ngFor="let t of outlets" [value]="t.id">
            {{t.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="clearfix"></div>
    <mat-form-field class="col-xs-6 col-sm-4">
      <input matInput autocomplete="off" type="text" id="keyword" name="keyword" placeholder="Student Name"
        [(ngModel)]="filter.keyword" #keyword="ngModel" />
    </mat-form-field>

    <mat-form-field class="col-xs-6 col-sm-4">
      <input matInput autocomplete="off" type="text" id="keyword" name="keyword" placeholder="POS Invoice ID"
        [(ngModel)]="filter.posinvoiceid" #keyword="ngModel" />
    </mat-form-field>
    <div class="clearfix"></div>
    <mat-form-field class="col-sm-4">
      <mat-label>Type</mat-label>
      <mat-select id="type" name="type" [(ngModel)]="filter.transactionType" #type="ngModel">
        <mat-option value="CREDIT">
          CREDIT
        </mat-option>
        <mat-option value="DEBIT">
          DEBIT
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-sm-4">
      <mat-label>Source</mat-label>
      <mat-select id="source" name="source" [(ngModel)]="filter.source" #type="ngModel">
        <mat-option value="">
          ALL
        </mat-option>
        <mat-option *ngFor="let option of sourceOptions" [value]="option.label">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="clearfix"></div>
    <mat-form-field class="col-xs-12 col-sm-2">
      <input matInput [matDatepicker]="startpicker" placeholder="Transaction Start Date" [value]="start"
        (dateChange)="onChangeDate('start', $event)">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-xs-12 col-sm-2">
      <input matInput [matDatepicker]="endpicker" placeholder="Transaction End Date" [value]="end"
        (dateChange)="onChangeDate('end',$event)">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
    <div class="col-xs-12 col-sm-1">
      <mat-checkbox [(ngModel)]="filter.isFAS">
        <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">FAS
          Only</label>
      </mat-checkbox>
    </div>
    <!--<div class="col-xs-6 col-sm-4 col-md-2">
    <mat-form-field>
      <mat-select name="status" [(ngModel)]="status" placeholder="Status">
        <mat-option *ngFor="let t of statuses" [value]="t">
          {{t}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->
    <div class="col-xs-12 col-sm-12 col-md-3" style="padding-bottom:10px;">
      <button type="button" class="btn btn-sm" (click)="clearFilters();" [disabled]="isLoading">Clear</button>
      <button type="button" class="btn btn-sm btn-info" (click)="loadData();" [disabled]="isLoading">Filter</button>
      <button *ngIf="canManageWalletTransaction" type="button" class="btn btn-sm btn-warning" (click)="cancelOrder();"
        style="margin-left:10px" [disabled]="isLoading">Cancel Order</button>
      <button type="button" class="btn btn-sm btn-info" (click)="downloadResults();" style="margin-left:5px;" [disabled]="isLoading">Download
        Results</button>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable class="material colored-header" #orderTable [loadingIndicator]="loadingIndicator" [rows]="rows"
      [rowHeight]="'auto'" [headerHeight]="'auto'" [footerHeight]="35" [columns]="columns" [columnMode]="'force'"
      [externalPaging]="true" [externalSorting]="true" [count]="pagedResult.totalCount"
      [limit]="pagedResult.filter.pageSize" (page)="loadData($event)" [selected]="selected" [selectionType]="'checkbox'"
      [selectAllRowsOnPage]="true" (select)="onSelect($event)" (sort)="loadData($event)">
    </ngx-datatable>
  </div>
  <ng-template #hdrTpl let-column="column" let-selectFn="selectFn" let-allRowsSelected="allRowsSelected"
    let-value="value">
    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
  </ng-template>

  <ng-template #indexTemplate let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"
    let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" let-offset="offset">
    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
  </ng-template>

  <ng-template #actionTemplate let-row="row" let-value="value" let-i="index">
    <a class="btn btn-link btn-xs" href="javascript:;" (click)="uploadTransaction(row)"><i class="fa fa-upload"
        aria-hidden="true"></i> Upload Transaction</a>
  </ng-template>

  <ng-template #invoiceIdTemplate let-row="row" let-value="value" let-i="index">
    <a class="ng-star-inserted" href="javascript:;" (click)="showPosDetail(row)">{{value}}</a>
  </ng-template>
  <ng-template #invoiceTemplate let-row="row" let-value="value" let-i="index">
    <a class="ng-star-inserted" href="javascript:;" (click)="showInvoiceDetail(row)">{{value}}</a>
  </ng-template>
  <ng-template #dishTemplate let-row="row">
  <span [title]="getDishLabels(row)">
    {{ getDishLabels(row) }}
  </span>
</ng-template>
</div>