<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form class="form-horizontal" name="interestGroupEmailEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!emailTemplateId.valid && showErrorAlert('Template is required'));">
    <div mat-dialog-content>
      <div class="row">
        
        <mat-form-field class="col-xs-12">
          <mat-label>Email Template</mat-label>
          <mat-select id="emailTemplateId" name="emailTemplateId" [(ngModel)]="templateId" #emailTemplateId="ngModel" required>
            <mat-option *ngFor="let emailTemplate of emailTemplates" [value]="emailTemplate.id">
              {{emailTemplate.subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageInterestGroups" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageInterestGroups" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageInterestGroups" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? 'Sending' : 'Send'}}
      </button>
    </div>
  </form>
</div>
