<p>
  Your cancellation request for {delivery_date}
    ({session_name}), {items} has been rejected. </p>
<p>Please refer reason as follows: <br /> {reason}</p>
<p>Please reapply your request or contact us at gourmetz@gourmetz.com.sg for more information.</p>