<div>
  <img src="{img_onboarding}"></img>
</div>
<p>Dear user {email},</p>
<p>Please click the following link to reset your password:</p>
<p>
  <a href='{callbackUrl}'>Reset</a>
</p>
<p>If you can't open the link in your mailbox, please copy the following address to the address bar of your web browser to open it</p>
<p>{callbackUrl}</p>
<br/>
<p>This email is sent automatically by the system, please do not reply directly.</p>
<p>Thanks for registering and welcome to Tappee.</p>

<p>Tappee</p>
<p>Powered by SATS</p>

