[*.cs]

# SCS0004: Certificate Validation has been disabled.
dotnet_diagnostic.SCS0004.severity = none

# SCS0008: The cookie is missing 'Secure' flag.
dotnet_diagnostic.SCS0008.severity = none

# SCS0018: Potential Path Traversal vulnerability was found where '{0}' in '{1}' may be tainted by user-controlled data from '{2}' in method '{3}'.
dotnet_diagnostic.SCS0018.severity = none

# SCS0027: Potential Open Redirect vulnerability was found where '{0}' in '{1}' may be tainted by user-controlled data from '{2}' in method '{3}'.
dotnet_diagnostic.SCS0027.severity = none

# SCS0016: Controller method is potentially vulnerable to Cross Site Request Forgery (CSRF).
dotnet_diagnostic.SCS0016.severity = none
