<div>
  <header class="pageHeader">
    <h3>Directory Listing Category</h3>
  </header>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'directoryListingCategorys.management.Search' | translate}}">></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="canManageDirectoryListingCategorys" class="toolbaritem">
            <a href="javascript:;" (click)="newDirectoryListingCategory(row)">
              <i class="fa fa-plus-circle"></i> {{'directoryListingCategorys.management.New' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ngx-datatable class="material colored-header"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="'auto'"
                 [headerHeight]="'auto'"
                 [footerHeight]="35"
                 [columns]="columns"
                 [columnMode]="'force'"
                 [limit]="20">
  </ngx-datatable>

  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>


  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <a *ngIf="canManageDirectoryListingCategorys" class="btn btn-link btn-xs" href="javascript:;" (click)="editDirectoryListingCategory(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'directoryListingCategorys.management.Edit' | translate}}</a>
    <a *ngIf="!canManageDirectoryListingCategorys" class="btn btn-link btn-xs" href="javascript:;" (click)="editDirectoryListingCategory(row)"><i class="fa fa-eye" aria-hidden="true"></i> {{'directoryListingCategorys.management.Details' | translate}}</a>
    <!--{{canManageDirectoryListingCategorys ? '|' : ''}}-->
    <a *ngIf="canManageDirectoryListingCategorys" class="btn btn-link btn-xs" href="javascript:;" (click)="deleteDirectoryListingCategory(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'directoryListingCategorys.management.Delete' | translate}}</a>
  </ng-template>
  <directory-listing-category-editor #directoryListingCategoryEditor [hidden]="true"></directory-listing-category-editor>
</div>
