<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ZipApiUrl" value=""/>
    <add key="DownloadUrl" value=""/>
    <add key="MOS_ZipResourceFilePath" value="\FRS\Resources\Sync\Unzip"/>
    <add key="MOS_UnzipResourceFilePath" value="FRS\Resources\Orders\ToCopy"/>
    <add key="RelativePath" value="Orders\\Cancellation"/>
    <add key="Filename" value="CancelledOrders"/>
    <add key="SyncType" value="Date"/>
    <add key="Days" value="1"/>
    <add key="UnzippedFolder" value="Sync\Zipped"/>
    <add key="DestinationFolder" value="\FRS\Resources\Orders\Cancellation"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
