<div>
  <header class="pageHeader">
    <h3>Scheduler Logs</h3>
  </header>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" (onEnter)="onSearch()" placeholder="Search"></search-box>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable class="material colored-header" #logTable
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="'auto'"
                   [headerHeight]="'auto'"
                   [footerHeight]="35"
                   [columns]="columns"
                   [columnMode]="'flex'"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   [count]="pagedResult.totalCount"
                   [limit]="pagedResult.filter.pageSize"
                   (page)="loadData($event)"
                   (sort)="loadData($event)">
    </ngx-datatable>
  </div>
  <ng-template #indexTemplate let-value="value" let-rowCount="rowCount" let-pageSize="pageSize" let-curPage="curPage" let-offset="offset">
    <strong>{{value}}</strong>
  </ng-template>
  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <a *ngIf="canManageSmartRoomSchedulerLogs" class="btn btn-link btn-xs" href="javascript:;" (click)="viewDetails(row)"><i class="fa fa-eye" aria-hidden="true"></i> Details</a>
  </ng-template>
</div>
