<div class="container-fluid">
  <header class="pageHeader">
    <h3><i class="fa fa-handshake fa-lg page-caption" aria-hidden="true"></i> Student Calendar <i>{{(student ? student.name: '')}}</i></h3>
  </header>

  <div [@fadeInOut]>
    <div>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="btn-group display-block">
            <div class="btn btn-primary"
                 mwlCalendarPreviousView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="viewDateChange.next(viewDate)">
              Previous
            </div>
            <div class="btn btn-outline-secondary"
                 mwlCalendarToday
                 [(viewDate)]="viewDate"
                 (viewDateChange)="viewDateChange.next(viewDate)">
              Today
            </div>
            <div class="btn btn-primary"
                 mwlCalendarNextView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="viewDateChange.next(viewDate)">
              Next
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{ viewDate | calendarDate: ((view === 'list' ? 'day' : view) + 'ViewTitle'):locale }}</h3>
        </div>
        <div class="col-md-3">
          <div class="btn-group">
            <div class="btn btn-primary"
                 (click)="view = 'month';"
                 [class.active]="view === 'month'">
              Month
            </div>
            <div class="btn btn-primary"
                 (click)="view = 'week';"
                 [class.active]="view === 'week'">
              Week
            </div>
            <div class="btn btn-primary"
                 (click)="view = 'day';"
                 [class.active]="view === 'day'">
              Day
            </div>
          </div>
        </div>
      </div>
      <br />

      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'"
                                 [viewDate]="viewDate"
                                 [activeDayIsOpen]="activeDayIsOpen"
                                 [weekStartsOn]="1"
                                 [events]="calendarEvents"
                                 [cellTemplate]="customCellTemplate"
                                 (beforeViewRender)="updateCalendarEvents($event)">
        </mwl-calendar-month-view>
        <!--(dayClicked)="dayClicked($event.day)"
                             (eventClicked)="eventClicked($event.event)"-->
        <mwl-calendar-week-view *ngSwitchCase="'week'"
                                [viewDate]="viewDate"
                                [weekStartsOn]="1"
                                [events]="calendarEvents"
                                (beforeViewRender)="updateCalendarEvents($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'"
                               [viewDate]="viewDate"
                               [events]="calendarEvents"
                               (beforeViewRender)="updateCalendarEvents($event)">
        </mwl-calendar-day-view>
      </div>

      <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top" (dblclick)="blockDate($event, day)" [ngClass]="isBlocked(day, day.events)">
          <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
          <!--<span (click)="blockDate($event, day)">
        <i [ngClass]="isBlocked(day, day.events) ? 'day-blocked fa fa-toggle-off' : 'day-free fa fa-toggle-on'" style="padding-left:5px"></i>
      </span>-->
          <span class="cal-day-number" (click)="blockDate($event, day)">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div *ngFor="let ev of day.events; let i=index;">
          <div class="day-view-event-block event-block" (click)="dayClicked(day, ev)">{{ev.title | slice:0:20}}</div>
        </div>
        <!--<div *ngIf="day.badgeTotal > 0"><a href="javascript:void(0)"><small>View details...</small></a></div>-->
      </ng-template>
    </div>

  </div>
</div>
