
.unread {
  font-weight: bold;
  color: #54C5CD;
}

.no-notification {
  text-align: center;
  /* height: 40px; */
  vertical-align: middle;
  padding: 7px;
}

  .no-notification a {
    color: #54C5CD !important;
  }
