<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="routeEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!routeLabel.valid && showErrorAlert('Label is required', 'Please enter label (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageRoutes" type="text" id="routeLabel" name="routeLabel" placeholder="Enter label" [(ngModel)]="routeEdit.label" #routeLabel="ngModel" required minlength="2" maxlength="200" />
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageRoutes" type="text" id="routeDetails" name="routeDetails" placeholder="Enter Route Details" [(ngModel)]="routeEdit.details" #routeDetails="ngModel" />
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput [disabled]="!canManageRoutes" type="time" id="routeTime" datetime="routeTime" placeholder="Enter Pickup Time" name="routeTime" [ngModel]="routeEdit.pickup | date:  'HH:mm'" (ngModelChange)="routeEdit.pickup = $event" />
        </mat-form-field>
        <hr />
        <div class="col-sm-12">
          <h4>Nodes</h4>
        </div>
        <mat-form-field class="col-md-8">
          <mat-label>Node</mat-label>
          <mat-select [disabled]="!canManageRoutes" id="cl" name="cl" [(ngModel)]="selectedNode" #cl="ngModel">
            <mat-option *ngFor="let n of nodes" [value]="n">
              {{n.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-md-4">
          <button type="button" mat-button (click)="addNode()">
            Add Node
          </button>
        </div>
        <div *ngIf="selectedNodes.length > 0" style="max-height: 75vh;overflow-y: auto;" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div style="border:solid 1px;padding:10px;border-radius:15px" *ngFor="let node of selectedNodes; let i = index;" cdkDrag>
            <div class="row">
              <div class="col-md-10">
                {{node.name}}
              </div>
              <div class="col-md-2">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="removeNode(node)">close</mat-icon>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input matInput [disabled]="!canManageRoutes" type="time" id="ni-{{i}}" placeholder="Enter Interval Time" name="ni-{{i}}" [ngModel]="node.interval | date:  'HH:mm'" (ngModelChange)="node.interval = $event" />
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Store Code</th>
          <th scope="col">Store Name</th>
          <th scope="col">Order</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of selectedNodes;let i = index">
          <td>{{row.code}}</td>
          <td>{{row.name}}</td>
          <td>{{i+1}}</td>
          <td>
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteNode(row)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
      </div>
      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageRoutes" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageRoutes" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageRoutes" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
