<!--<h1 mat-dialog-title>Order Details</h1>-->
<div>
  <form class="form-horizontal" name="studentOrderDetailForm" #f="ngForm" novalidate>
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <h4>Order #{{order.id}}</h4>
        </div>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Status</mat-label>
          <input matInput placeholder="Status" [disabled]="true" style="display:none" [value]="order.status">
          <span style="text-transform:capitalize">{{order.status }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Processed By:</mat-label>
          <input matInput placeholder="" [disabled]="true" style="display:none" [value]="order.processedBy">
          <span>{{order.processedBy}}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Transaction Date/Time</mat-label>
          <input matInput placeholder="Transaction Date/Time" [disabled]="true" style="display:none" [value]="order.transactionTime">
          <span>{{order.transactionTime | dateTimeOnly }}</span>
        </mat-form-field>

        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Delivery Date</mat-label>
          <input matInput placeholder="Delivery Date" [disabled]="true" style="display:none" [value]="order.deliveryDate">
          <span>{{order.deliveryDate | dateOnly }}</span>
        </mat-form-field>

        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Session</mat-label>
          <input matInput placeholder="Session" [disabled]="true" style="display:none" [value]="order.mealSessionName">
          <span>{{order.mealSessionName | default: '-'}}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Meal Description</mat-label>
          <input matInput placeholder="Meal Description" [disabled]="true" style="display:none" [value]="order.mealDescription">
          <span>{{order.mealDescription | default: '-' }}</span>
        </mat-form-field>
        <hr class="clearfix" />
        <div class="col-sm-12">
          <h4>Payment Information</h4>
        </div>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Payment Method</mat-label>
          <input matInput placeholder="Payment Method" [disabled]="true" style="display:none" [value]="order.paymentTypeName">
          <span>{{order.paymentTypeName | default: '-' }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Invoice No.</mat-label>
          <input matInput placeholder="" [disabled]="true" style="display:none" [value]="order.invoiceNumber">
          <span>{{order.invoiceNumber | default: '-' }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Order No.</mat-label>
          <input matInput placeholder="Order No." [disabled]="true" style="display:none" [value]="order.paymentNumber">
          <span>{{order.paymentNumber | default: '-' }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>FOMO No.</mat-label>
          <input matInput placeholder="" [disabled]="true" style="display:none" [value]="order.fomoId">
          <span>{{order.fomoId | default: '-' }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Voucher</mat-label>
          <input matInput placeholder="" [disabled]="true" style="display:none" [value]="order.voucherCode">
          <span>{{order.voucherCode | default: '-' }}</span>
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-md-6" appearance="none">
          <mat-label>Total</mat-label>
          <input matInput placeholder="" [disabled]="true" style="display:none" [value]="order.totalAmount">
          <span>{{order.totalAmount | default: '-' }}</span>
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
    </div>
  </form>
</div>
