<div>
  <header class="pageHeader">
    <h3>Outlets</h3>
  </header>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'common.Search' | translate}}"></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="canManageOutlets" class="toolbaritem">
            <a href="javascript:;" (click)="newOutlet(row)">
              <i class="fa fa-plus-circle"></i> {{'common.New' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ngx-datatable #infotable class="material colored-header"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="'auto'"
                 [headerHeight]="'auto'"
                 [footerHeight]="35"
                 [columns]="columns"
                 [columnMode]="'force'"
                 [externalPaging]="true"
                 [externalSorting]="true"
                 [count]="pagedResult.totalCount"
                 [offset]="pagedResult.filter.pageNumber"
                 [limit]="pagedResult.filter.pageSize"
                 (page)="loadData($event)"
                 (sort)="loadData($event)">
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'100%'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:25px;min-height:300px">
          <!--<h4>{{row.name}} Details</h4>-->
          <mat-tab-group dynamicHeight>
            <mat-tab label="Meal Plan Grouping" *ngIf="canViewTerms">
              <div class="container-fluid" style="padding-top:20px">
                <outlet-terms-management [isHideHeader]="true" [outletId]="row.id"></outlet-terms-management>
              </div>
            </mat-tab>
            <mat-tab label="Class Batches" *ngIf="canViewClassBatches">
              <div class="container-fluid" style="padding-top:20px">
                <class-batches-management [isHideHeader]="true" [outletId]="row.id"></class-batches-management>
              </div>
            </mat-tab>
            <mat-tab label="Class Levels" *ngIf="canViewClassLevels">
              <div class="container-fluid" style="padding-top:20px">
                <class-levels-management [isHideHeader]="true" [outletId]="row.id"></class-levels-management>
              </div>
            </mat-tab>
            <mat-tab label="Classes" *ngIf="canViewClasses">
              <div class="container-fluid" style="padding-top:20px">
                <classes-management [isHideHeader]="true" [outletId]="row.id"></classes-management>
              </div>
            </mat-tab>
            <mat-tab label="Students" *ngIf="canViewStudents">
              <div class="container-fluid" style="padding-top:20px">
                <students-management [isHideHeader]="true" [outletId]="row.id"></students-management>
              </div>
            </mat-tab>
            <mat-tab label="Menu Groups" *ngIf="canViewMenus">
              <div class="container-fluid" style="padding-top:20px">
                <menu-groups-management [isHideHeader]="true" [outletId]="row.id"></menu-groups-management>
              </div>
            </mat-tab>
            <mat-tab label="FAS Meal Ordering" *ngIf="canViewFas">
              <div class="container-fluid" style="padding-top:20px">
                <fas-meal-order-summary [isHideHeader]="true" [outletId]="row.id"></fas-meal-order-summary>
              </div>
            </mat-tab>
            <mat-tab label="Student Groups" *ngIf="canViewStudentGroups">
              <div class="container-fluid" style="padding-top:20px">
                <student-groups-management [isHideHeader]="true" [outletId]="row.id"></student-groups-management>
              </div>
            </mat-tab>
            <mat-tab label="Order Cancellation" *ngIf="canViewCancellations">
              <div class="container-fluid" style="padding-top:20px">
                <order-cancellations-management [isHideHeader]="true" [outletId]="row.id"></order-cancellations-management>
              </div>
            </mat-tab>
            <!--<mat-tab label="Staff Types">
    <div class="container-fluid" style="padding-top:20px">
      <staff-types-management [isHideHeader]="true" [outletId]="row.id"></staff-types-management>
    </div>
  </mat-tab>
  <mat-tab label="Staffs">
    <div class="container-fluid" style="padding-top:20px">
      <staffs-management [isHideHeader]="true" [outletId]="row.id"></staffs-management>
    </div>
  </mat-tab>
  <mat-tab label="Interest Groups">
    <div class="container-fluid" style="padding-top:20px">
      <interest-groups-management [isHideHeader]="true" [outletId]="row.id"></interest-groups-management>
    </div>
  </mat-tab>-->
            <mat-tab label="Order Portal Content" *ngIf="canViewPortalContents">
              <div class="container-fluid" style="padding-top:20px">
                <order-portal-content-management [isHideHeader]="true" [outletId]="row.id"></order-portal-content-management>
              </div>
            </mat-tab>
            <mat-tab label="Email Templates" *ngIf="canViewEmailTemplates">
              <div class="container-fluid" style="padding-top:20px">
                <email-templates-management [isHideHeader]="true" [outletId]="row.id"></email-templates-management>
              </div>
            </mat-tab>
            <mat-tab label="Meal Allocations" *ngIf="canViewMealAllocations">
              <div class="container-fluid" style="padding-top:20px">
                <meal-allocations-management [isHideHeader]="true" [outletId]="row.id"></meal-allocations-management>
              </div>
            </mat-tab>
            <mat-tab label="Packing Allocations" *ngIf="canViewPackingAllocations">
              <div class="container-fluid" style="padding-top:20px">
                <packing-allocations-management [isHideHeader]="true" [outletId]="row.id"></packing-allocations-management>
              </div>
            </mat-tab>
            <mat-tab label="Packings" *ngIf="canViewPackingAllocations">
              <div class="container-fluid" style="padding-top:20px">
                <packing-tags-management [isHideHeader]="true" [outletId]="row.id"></packing-tags-management>
              </div>
            </mat-tab>
            <mat-tab label="Dispensers" *ngIf="canViewClassLevels">
              <div class="container-fluid" style="padding-top:20px">
                <dispenser-outlet-management [isHideHeader]="true" [outletId]="row.id"></dispenser-outlet-management>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

  </ngx-datatable>

  <ng-template #flagTemplate let-row="row" let-value="value" let-i="index">
    <div class="text-center"><i [ngClass]="value ? 'fa fa-check-circle-o active': 'fa fa-circle-o'" aria-hidden="true"></i></div>
  </ng-template>


  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <a *ngIf="canManageOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="requestCaterer(row)"><i class="fa" aria-hidden="true"></i> Caterer</a>
    <a *ngIf="canManageOutletCaterers" class="btn btn-link btn-xs" href="javascript:;" (click)="editOutlet(row)"><i class="fa fa-pencil-o" aria-hidden="true"></i> {{'common.RowAction.Edit' | translate}}</a>
    <a *ngIf="canManageOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="deleteOutlet(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'common.RowAction.Delete' | translate}}</a>
    <a *ngIf="canViewOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="toggleExpandRow(row)">Details</a>
    <a *ngIf="canManageOutletStores" class="btn btn-link btn-xs" href="javascript:;" (click)="openOutletStore(row)"><i class="fa" aria-hidden="true"></i> Stores</a>
    <a *ngIf="canViewOutletSalesOrderDetailReports" class="btn btn-link btn-xs" href="javascript:;" (click)="openOrderReport(row)"><i class="fa" aria-hidden="true"></i> Order Report</a>
    <a *ngIf="canViewOutletDeliveryReports" class="btn btn-link btn-xs" href="javascript:;" (click)="openDeliveryOrderReport(row)"><i class="fa" aria-hidden="true"></i>Delivery Report</a>
    <a *ngIf="canManageOutletMealSummary" class="btn btn-link btn-xs" href="javascript:;" (click)="openMealSummaryReport(row)"><i class="fa" aria-hidden="true"></i>Meal Summary</a>
    <!--<a *ngIf="canManageOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="openPrintLabel(row)"><i class="fa" aria-hidden="true"></i> Print Label</a>-->
    <!--<a *ngIf="canManageOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="openMealSession(row)"><i class="fa" aria-hidden="true"></i> Sessions</a>-->
    <!--<a *ngIf="canManageOutlets" class="btn btn-link btn-xs" href="javascript:;" (click)="openOutletCalendar(row)"><i class="fa" aria-hidden="true"></i> Calendar</a>-->
  </ng-template>
</div>
