<h1 mat-dialog-title>{{data.header}}</h1>
<div id="printableArea">
  <form *ngIf="formResetToggle" class="form-horizontal" name="outletEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!outletName.valid && showErrorAlert('Name is required', 'Please enter name (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content class="no-padding">
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" type="text" id="rosterName" name="rosterName" placeholder="Enter label" [(ngModel)]="outletClassRosterEdit.label" #rosterName="ngModel" required minlength="2" maxlength="200" />
        </mat-form-field>
        <mat-form-field class="col-md-6 col-xs-12">
          <input matInput [matDatepicker]="startpicker" placeholder="Start Date" [value]="start"
                 (dateChange)="onChangeDate('start', $event)" required>
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 col-xs-12">
          <input matInput [matDatepicker]="endpicker" placeholder="End Date" [value]="end"
                 (dateChange)="onChangeDate('end', $event)" required>
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
        <mat-label class="col-md-12"><h5>Schedules</h5></mat-label>
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-md-12">
              <button type="button" mat-button (click)="addSchedule()">
                <mat-icon>
                  add
                </mat-icon> Add Day
              </button>
            </div>
            <div class="col-sm-12">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" style="width: 100px;" class="sticky-column stick-header"></th>
                    <th scope="col" class="stick-header" *ngFor="let period of mealSession.details; let i=index">{{period.name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let schedule of outletClassRosterEdit.schedules;let i = index">
                    <td class="sticky-column">
                      Day {{schedule.day}}
                      <div>
                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteSchedule(schedule.day)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </div>

                    </td>
                    <td *ngFor="let period of schedule.periods; let x=index">
                      <mat-form-field class="col-xs-10 filter" appearance="outline" floatLabel="always">
                        <mat-select id="schedule-{{i}}-{{period.id}}" name="schedule-{{i}}-{{period.id}}"
                                    [(ngModel)]="period.selectedClass">
                          <mat-option *ngFor="let class of filterClasses(schedule)" [value]="class">
                            {{class.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="col-xs-2">
                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="addClass(schedule, period, period.selectedClass)">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a>
                      </div>
                      <mat-nav-list class="col-xs-12 list">
                        <mat-list-item *ngFor="let class of period.classes">
                          <div class="col-xs-10">{{class.name}}</div>
                          <div class="col-xs-2">
                            <a class="btn btn-link btn-xs" href="javascript:;" (click)="removeClass(schedule, period, class.classId)">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          </div>
                        </mat-list-item>
                      </mat-nav-list>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageOutletClassRosters" type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageOutletClassRosters" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageOutletClassRosters" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
