.modal {
  z-index: 1000;
}

.display-block {
  display:block !important;
}

.cal-month-view .cal-open-day-events {
  background-color: #03b1ab !important;
  box-shadow: none !important;
}

.cal-month-view .cal-event {
  background-color: #fff !important;
}

.cal-event-action {
  color: #fff !important;
}

.event-block {
  background: #029f9a;
  color: white;
  padding-left: 5px;
  font-size: 12px;
  border-top: 1px solid white;
}

.cal-drag-active{
  padding: 10px;
}

.disabled-date {
  background: #ffc8c8;
}

.action-menu {
  padding-left: 5px;
  padding-right: 5px;
}

.cal-event-title {
  padding-right: 20px;
  width: 350px;
  display: inline-flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.day-free{
  color:green;
}

.day-blocked{
  color: red;
}

.cal-day-number{
  text-decoration: underline;
}

.cal-day-number:hover{
  cursor:pointer;
}
