<div class="page-section">
  <header class="pageHeader">
    <h3> {{title}}</h3>
  </header>
  <div class="row control-box">
    <mat-form-field class="col-sm-6 col-xs-12">
      <mat-label>Delivery Location</mat-label>
      <mat-select id="store" name="store" [(ngModel)]="storeId" #store="ngModel" required (selectionChange)="onChangeStore()">
        <mat-option *ngFor="let store of stores" [value]="store.id">
          {{store.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--<mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <input matInput [matDatepicker]="delvdatepicker" placeholder="Delivery Date From" [value]="delvdate" required (dateChange)="onChangeDate($event, 'from')">
      <mat-datepicker-toggle matSuffix [for]="delvdatepicker"></mat-datepicker-toggle>
      <mat-datepicker #delvdatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <input matInput [matDatepicker]="delvdateTopicker" placeholder="Delivery Date To" [value]="delvdateTo" required (dateChange)="onChangeDate($event)">
      <mat-datepicker-toggle matSuffix [for]="delvdateTopicker"></mat-datepicker-toggle>
      <mat-datepicker #delvdateTopicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <mat-label>Session</mat-label>
      <mat-select id="mealSession" name="mealSession" [(ngModel)]="mealSessionId" #mealSession="ngModel" required>
        <mat-option *ngFor="let mealSessionDetail of mealSessions" [value]="mealSessionDetail.mealSessionId">
          {{mealSessionDetail.mealSessionName}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
    <mat-form-field class="col-sm-6 col-xs-12">
      <mat-label>Dish Type</mat-label>
      <mat-select id="dishType" name="dishType" [(ngModel)]="dishTypeId" #dishType="ngModel" required>
        <mat-option *ngFor="let dishType of allDishTypes" [value]="dishType.id">
          {{dishType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row control-box" style="padding-left:20px">
    <button *ngIf="canManageMealPlans" type="button" mat-stroked-button color="primary" [disabled]="isSaving" (click)="save()">
      <i *ngIf="!isSaving" class='fa'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? 'Processing orders' : 'Generate Meal Plan'}}
    </button>
    <!--<button *ngIf="canManageMealPlans" type="button" mat-stroked-button color="warning" [disabled]="isSaving && isClear" (click)="save(true)" style="margin-left:15px;">
      <i *ngIf="!isSaving && isClear" class='fa'></i><i *ngIf="isSaving && isClear" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving && isClear ? 'Processing orders' : 'Delete orders'}}
    </button>-->
    <button *ngIf="canManageMealPlans" type="button" mat-stroked-button (click)="onChangeStore()" style="margin-left:15px;">
      <i class='fa fa-refresh'></i> Reload Summary
    </button>
  </div>
  <br />
  <div class="label label-info" *ngIf="storeId && storeId > 0 && (!columns || columns.length <= 1)">No dish has been assigned to this meal plan yet. Click on the Generate Meal Plan to assign one.</div>
  <b *ngIf="rows && rows.length > 0 && columns && columns.length > 1">Summary Order for {{delvdate.toDateString()}} to {{delvdateTo.toDateString()}}</b>
  <ngx-datatable *ngIf="rows && rows.length > 0 && columns && columns.length > 1" class="material colored-header"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="50"
                 [headerHeight]="50"
                 [footerHeight]="35"
                 [scrollbarH]="true"
                 [columns]="columns"
                 [columnMode]="'force'">
  </ngx-datatable>
  <!--
  <ng-template #indexTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="selectRow(row)"><i class="fa " aria-hidden="true"></i> SELECT</a>
    </div>
  </ng-template>-->
  <div mat-dialog-actions align="center">
    <button *ngIf="!canManageStudents" type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
  </div>
</div>
