<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="studentEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() : invalidate()">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <h4>Student Group Information</h4>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="col-md-6 col-xs-12">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="groupCode" name="groupCode" placeholder="Enter code" [(ngModel)]="groupEdit.code" #groupCode="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted">Code is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6 col-xs-12">
            <mat-label>Type</mat-label>
            <mat-select id="outletProfileId" name="type" [(ngModel)]="groupEdit.type" #type="ngModel" required (selectionChange)="onTypeChange($event.value)">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-6 col-xs-12">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="groupName" name="groupName" placeholder="Enter name" [(ngModel)]="groupEdit.name" #groupName="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted">Name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <!--<mat-label>Price</mat-label>-->
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="price" name="price" placeholder="Price" [(ngModel)]="groupEdit.price" #price="ngModel" required />
          </mat-form-field>
          <mat-form-field class="col-md-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <input matInput [matDatepicker]="startpicker" placeholder="Start Date" [(ngModel)]="groupEdit.startDate" required [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <input matInput [matDatepicker]="endpicker" placeholder="End Date" [(ngModel)]="groupEdit.endDate" required [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>

          <!--<div class="col-md-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
    &nbsp;
  </div>-->
          <mat-form-field class="col-sm-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <input matInput [matDatepicker]="delvdatepicker" placeholder="Delivery Date From" [(ngModel)]="groupEdit.deliveryStartDate" required [ngModelOptions]="{standalone: true}" (dateChange)="onChangeDeliveryDate($event, 'from')">
            <mat-datepicker-toggle matSuffix [for]="delvdatepicker"></mat-datepicker-toggle>
            <mat-datepicker #delvdatepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <input matInput [matDatepicker]="delvdateTopicker" placeholder="Delivery Date To" [(ngModel)]="groupEdit.deliveryEndDate" required [ngModelOptions]="{standalone: true}" (dateChange)="onChangeDeliveryDate($event, 'to')">
            <mat-datepicker-toggle matSuffix [for]="delvdateTopicker"></mat-datepicker-toggle>
            <mat-datepicker #delvdateTopicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-xs-12" *ngIf="groupEdit.type == 'Meal Plan'">
            <mat-label>Session</mat-label>
            <mat-select id="mealSessionId" name="mealSessionId" [(ngModel)]="groupEdit.mealSessionId" #mealSessionId="ngModel" required (selectionChange)="onMealSessionChange($event.value)">
              <mat-option *ngFor="let mealSessionDetail of mealSessions" [value]="mealSessionDetail.mealSessionId">
                {{mealSessionDetail.mealSessionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox class="col-sm-6 col-xs-12" [(ngModel)]="groupEdit.isPublished" id="isPublished"
                        name="isPublished" *ngIf="groupEdit.type == 'Meal Plan'">
            <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">Publish</label>
          </mat-checkbox>
        </div>
        <div class="col-xs-12" style="min-height:300px">
          <input matInput type="text" [hidden]="true" />
          <button type="button" mat-button (click)="addStudentSel()" style="margin-top:20px">
            <mat-icon>
              add
            </mat-icon> Add Student
          </button>
          <table class="table table-sm table-bordered">
            <thead class="text-center">
              <tr>
                <td>Student Name</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let details of groupEdit.sgdetails; let x=index">
                <td>{{getName(details.studentId)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageStudents" type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageStudents" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageStudents" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
