<div class="container-fluid" *ngIf="!showcalendar" [@slideInOut]>
  <header class="pageHeader text-center"> <h3>Search for an available resource to book</h3>
  </header>
  <div class="row">
    <div class="col-md-4 col-md-offset-1"><mat-calendar #calendar [selected]="selectedDate" (selectedChange)="selectedDate = $event;selectDate($event); "></mat-calendar></div>
    <div class="col-md-6 col-md-offset-1" style="padding-top:30px">
      <div>
        <h5>Location</h5>
        <mat-select multiple placeholder="{{'reservations.management.SelectLocation' | translate}}" [formControl]="fcLocations" [(ngModel)]="filter.locationIds">
          <input placeholder="Search..." autocomplete="off" matInput type="text" (keyup)="locationSearchOnKeyUp($event.target.value)" class="cal-search-box" [(ngModel)]="locSearchKeyword">
          <mat-option class="optionGroup" disabled [ngStyle]="{ display : buildingList  && buildingList.length > 0  ? 'none' : 'block' }">No results.</mat-option>
          <ng-container *ngFor="let building of buildingList">
            <mat-option class="optionGroup" [value]="building.id" disabled><b>{{building.name}}</b></mat-option>
            <mat-option class="optionChild" *ngFor="let location of getRoomsByBuildingId(building.id, locSearchKeyword)" [value]="location.id"><small>{{location.name}}</small></mat-option>
          </ng-container>

        </mat-select>

        <!--<mat-select multiple placeholder="{{'reservations.management.SelectLocation' | translate}}" [formControl]="fcLocations" [(ngModel)]="filter.locationIds">
          <mat-optgroup *ngFor="let building of buildingList"
                        [label]="building.name">
            <mat-option *ngFor="let location of getRoomsByBuildingId(building.id)" [value]="location.id"><b>{{location.name}}</b> - <small><i>{{location.description}}</i></small></mat-option>
          </mat-optgroup>
        </mat-select>-->
      </div>

      <div>
        <h5>Facility</h5>
        <mat-select multiple placeholder="{{'reservations.management.SelectFacilities' | translate}}" [formControl]="fcFacilities" [(ngModel)]="filter.facilityIds">
          <mat-option *ngFor="let facility of facilityList" [value]="facility.id"><b>{{facility.name}}</b> - <small><i>{{facility.description}}</i></small></mat-option>
        </mat-select>
      </div>
      <div>
        <h5>Min. Capacity</h5>

        <mat-slider [max]="100"
                    [min]="1"
                    [step]="1"
                    [thumbLabel]="true"
                    [(ngModel)]="filter.capacity" style="width:100%">
        </mat-slider>
      </div>
    </div>


    <div class="col-md-12 text-center">
      <button mat-raised-button (click)="apply();" style="margin:5px">{{'reservations.calendar.ApplyFilter' | translate}}</button>
      <button mat-raised-button (click)="clear()" style="margin:5px" color="warn">{{'reservations.calendar.ClearFilter' | translate}}</button>
    </div>
  </div>
</div>

<booking-calendar [filter]="filter" *ngIf="showcalendar" [@slideInOut] (bookingComplete)="bookingComplete($event)"></booking-calendar>
