<div class="vertical-center-flex">
    <div class="login-container center-block">
        <div class="panel panel-primary boxshadow">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-lock"></span> Forgot Password
                <!--<button *ngIf="isModal" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>-->
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <form *ngIf="formResetToggle" class="form-horizontal login" name="forgotPasswordForm" #f="ngForm" novalidate
                          (ngSubmit)="f.form.valid ? forgotPassword() :
                          (!email.valid && showErrorAlert('Email is required', 'Please enter a valid email'));">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-2" for="login-email">Email:</label>
                            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !email.valid}">
                                <input type="text" id="login-email" name="email" placeholder="Enter email" autocomplete="email" class="form-control" [(ngModel)]="userLogin.email" #email="ngModel" required />
                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}" aria-hidden="true"></span>
                                <span class="errorMessage" *ngIf="f.submitted && !email.valid">
                                    Email is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" [disabled]="isLoading"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Submitting...' : 'Submit'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
