<div>
  <h1 mat-dialog-title>{{data.header}}</h1>
  <div mat-dialog-content>
    <div class="form-group search-box">
      <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'common.Search' | translate}}"></search-box>
    </div>
    <ngx-datatable class="material colored-header"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="'auto'"
                   [headerHeight]="'auto'"
                   [footerHeight]="35"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [limit]="10">
      </ngx-datatable>
      <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
        <a class="example-section btn btn-link btn-xs" style="cursor:pointer">
          <mat-checkbox [(ngModel)]="row.checked"></mat-checkbox>
        </a>
      </ng-template>
  </div>

  <div mat-dialog-actions align="center">
    <button type="button" mat-button (click)="cancel()"><i class='fa fa-times'></i>{{'reservations.editor.Cancel' | translate}}</button>
    <button type="button" mat-button cdkFocusInitial (click)="save()">
      <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> Choose
    </button>
  </div>
</div>
