<h1 mat-dialog-title>{{data.header}}</h1>
<form *ngIf="formResetToggle" class="form-horizontal" name="reservationEditorForm" #f="ngForm" novalidate
      (ngSubmit)="f.form.valid ? save() :
          (!reservationShortDescription.valid && showErrorAlert('Reservation name is required', 'Please enter a reservation name (minimum of 2 and maximum of 200 characters)'));">

  <div mat-dialog-content>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div>
          <mat-form-field class="col-md-12" [floatLabel]="always">
            <input [disabled]="reservationEdit.smartRoomScheduleId" matInput type="text" id="reservationShortDescription" name="reservationShortDescription" autocomplete="off" placeholder="{{'reservations.editor.ShortDescription' | translate}}" [(ngModel)]="reservationEdit.shortDescription" #reservationShortDescription="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted && !reservationShortDescription.valid">{{'reservations.editor.ReservationDescriptionRequired' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div>
          <mat-form-field class="col-md-6" [floatLabel]="always">
            <input matInput disabled type="text" id="reservationStartDate" name="reservationStartDate" placeholder="Date" [(ngModel)]="startDate" #reservationStartDate="ngModel" />
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input matInput disabled placeholder="Location" type="text" id="locationName" name="locationName" [(ngModel)]="reservationEdit.locationName" />
        </mat-form-field>
      </div>
      <!--<div class="col-md-6">
    <mat-form-field class="col-md-12 mat-form-field--no-underline" [floatLabel]="always" id="timeIntervalsWrapper">
      <mat-chip-list #chipListTimeInterval>
        <mat-chip class="selected-time-chip" *ngFor="let timeInterval of reservationEdit.timeIntervals">{{timeInterval.description}}</mat-chip>
      </mat-chip-list>
      <input [matChipInputFor]="chipListTimeInterval" style="display:none" matInput disabled type="text" id="reservationTimeIntervals" name="reservationTimeIntervals" placeholder="Selected Time" />
    </mat-form-field>
  </div>-->
      <div class="col-md-3">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input [disabled]="reservationEdit.smartRoomScheduleId" matInput placeholder="Start" type="time" id="selectedStartTime" name="selectedStartTime" [(ngModel)]="selectedStartTime" required />
          <mat-error *ngIf="showValidationErrors && f.submitted && !selectedStartTime.valid">Start Time is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input [disabled]="reservationEdit.smartRoomScheduleId" matInput placeholder="End" type="time" id="selectedEndTime" name="selectedEndTime" [(ngModel)]="selectedEndTime" required />
          <mat-error *ngIf="showValidationErrors && f.submitted && !selectedEndTime.valid">End Time is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input matInput type="text" id="alternateMeetingTitle" name="alternateMeetingTitle" autocomplete="off" placeholder="Alternative Title" [(ngModel)]="reservationEdit.alternateMeetingTitle" #alternateMeetingTitle="ngModel" minlength="2" maxlength="200" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input matInput type="text" id="displayTime" name="displayTime" autocomplete="off" placeholder="Display Time" [(ngModel)]="reservationEdit.displayTime" #displayTime="ngModel"/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <input matInput type="text" id="displayTitle" name="displayTitle" autocomplete="off" placeholder="Display Title" [(ngModel)]="reservationEdit.displayTitle" #displayTitle="ngModel" minlength="2" maxlength="200" />
        </mat-form-field>
      </div>
      <hr />
      <div class="col-md-6">
        <mat-checkbox class="col-sm-6 col-xs-12" name="isKiosk" [(ngModel)]="reservationEdit.isKiosk">
          <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">Is Digital Kiosk</label>
        </mat-checkbox>
        <mat-checkbox class="col-sm-6 col-xs-12" name="isSignage" [(ngModel)]="reservationEdit.isSignage">
          <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">Is Digital Signage</label>
        </mat-checkbox>
      </div>

      <div class="col-md-6">
      </div>

      <!--<div class="col-md-3">
    <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="padding-left: 15px !important;">
      <input matInput placeholder="Start" style="display: none">
      <mat-select #selectStart placeholder="{{'reservations.management.SelectStart' | translate}}" [formControl]="fcStartTimes" [(ngModel)]="selectStartTimeId">
        <mat-option *ngFor="let start of allStartTimes" [value]="start.id">{{start.description}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="padding-left: 15px !important;">
      <input matInput placeholder="End" style="display: none">
      <mat-select #selectEnd placeholder="{{'reservations.management.SelectEnd' | translate}}" [formControl]="fcEndTimes" [(ngModel)]="selectEndTimeId">
        <mat-option *ngFor="let end of allEndTimes" [value]="end.id">{{end.description}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->
    </div>
    <hr />
    <div class="row">

      <div class="col-md-6">
        <mat-form-field class="col-md-12 mat-form-field--no-underline" [floatLabel]="always" id="reservationFacilitiesWrapper" *ngIf="reservationEdit.facilities && !reservationEdit.smartRoomScheduleId">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let facility of reservationEdit.facilities">{{facility.name}}</mat-chip>
          </mat-chip-list>
          <input [matChipInputFor]="chipList" style="display:none" matInput disabled type="text" id="reservationFacilities" name="reservationFacilities" placeholder="Facilities" />
        </mat-form-field>
        <div class="col-xs-3">
          <mat-form-field [floatLabel]="always">
            <input matInput disabled placeholder="Capacity" type="text" id="locationCapacity" name="locationCapacity" [(ngModel)]="locationCapacity" />
          </mat-form-field>
        </div>
        <div class="col-xs-3" style="padding-top:15px">
          <mat-checkbox [disabled]="reservationEdit.smartRoomScheduleId" name="isAttendee" [(ngModel)]="reservationEdit.isAttendee">
            <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">Is Attendee</label>
          </mat-checkbox>
        </div>
      </div>


      <div class="col-md-6">
        <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline" style="padding-left: 15px !important;">
          <input matInput placeholder="{{'reservations.editor.RepeatType' | translate}}" style="display: none">
          <mat-radio-group [disabled]="reservationEdit.smartRoomScheduleId" name="repeatType" [(ngModel)]="reservationEdit.repeatType" (change)="selectRepeatType()">
            <mat-radio-button *ngFor="let rt of repeatTypes" [value]="rt">
              {{rt}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
        <div class="col-md-6 col-sm-12">
          <mat-form-field [floatLabel]="always">
            <input matInput disabled [matDatepicker]="picker" id="reservationRepeatEndDateTime" name="reservationRepeatEndDateTime" placeholder="{{'reservations.editor.RepeatEndDateTime' | translate}}" [(ngModel)]="reservationEdit.repeatEndDateTime" #reservationRepeatEndDateTime="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="reservationEdit.smartRoomScheduleId"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <textarea rows="5" matInput type="text" id="status" autocomplete="off" name="status" placeholder="Status" #status="ngModel" [(ngModel)]="reservationEdit.status"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <textarea rows="5" matInput type="text" id="statusRemark" name="statusRemark" placeholder="Status Remark" #statusRemark="ngModel" [(ngModel)]="reservationEdit.statusRemark"></textarea>
        </mat-form-field>
      </div>
    <hr />
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <textarea rows="5" [disabled]="reservationEdit.smartRoomScheduleId" matInput type="text" id="reservationDescription" autocomplete="off" name="reservationDescription" placeholder="Description" #reservationDescription="ngModel" [(ngModel)]="reservationEdit.longDescription" required></textarea>
          <mat-error *ngIf="showValidationErrors && f.submitted && !reservationDescription.valid">{{'reservations.editor.ReservationLongDescriptionRequired' | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <textarea rows="5" [disabled]="reservationEdit.smartRoomScheduleId" matInput type="text" id="reservationNotes" name="reservationNotes" placeholder="Notes" #reservationDescription="ngModel" [(ngModel)]="reservationEdit.notes"></textarea>
        </mat-form-field>
      </div>
    <hr />
      <div class="col-md-6">
        <mat-form-field class="col-md-12" [floatLabel]="always">
          <textarea rows="5" matInput type="text" id="meetingPurpose" autocomplete="off" name="meetingPurpose" placeholder="Meeting Purpose" #meetingPurpose="ngModel" [(ngModel)]="reservationEdit.meetingPurpose"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="!reservationEdit.smartRoomScheduleId">
      <div class="col-md-6">
        <mat-form-field class="col-md-4" [floatLabel]="always">
          <!--<input matInput type="text" id="reservationInvitees" name="reservationInvitees" style="display:none;" placeholder="Participants" />-->
          <div class="col-md-12">
            <input [disabled]="reservationEdit.smartRoomScheduleId" matInput type="text" id="addReservationInvitees" name="addReservationInvitees" placeholder="Add participants"
                   [formControl]="fcReservationInvitees" [matAutocomplete]="auto" aria-label="Invitee" [(ngModel)]="inputInvitee" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectInvitee($event)">
              <mat-option *ngFor="let option of filteredReservationInvitees | async" [value]="option">
                {{option.fullName}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button type="button" mat-icon-button (click)="addInvitee()" [disabled]="reservationEdit.smartRoomScheduleId">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="addContactGroup()" title="Add From Contact Group" [disabled]="reservationEdit.smartRoomScheduleId">
          <mat-icon>contact_mail</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="addFromPhonebook()" title="Add From My Contacts" [disabled]="reservationEdit.smartRoomScheduleId">
          <mat-icon>contacts</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h6 style="padding-left: 15px;">Invitees</h6>
        <mat-list dense>
          <mat-list-item *ngFor="let invitee of inviteeList">
            <div style="width: 50%">
              {{invitee.fullName}} - {{invitee.email}}
            </div>
            <div style="width: 40%">
              <mat-form-field *ngIf="invitee.userVehicles || invitee.plateNumber">
                <mat-select [disabled]="reservationEdit.smartRoomScheduleId" placeholder="Vehicle" name="userVehicle" [(value)]="invitee.plateNumber">
                  <mat-option *ngFor="let vehicle of invitee.userVehicles" [value]="vehicle.plateNumber" [hidden]="!vehicle.isApprove" (click)="setUserVehicle(invitee, vehicle)">{{vehicle.plateNumber}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="width: 10%">
              <button type="button" mat-icon-button (click)="removeInvitee(invitee)" [disabled]="reservationEdit.smartRoomScheduleId">
                <mat-icon>close</mat-icon>
              </button>
            </div>

          </mat-list-item>
          <mat-list-item *ngFor="let invitee of userPhonebooks">
            <span>
              {{invitee.name}} - {{invitee.email}}
              <button type="button" mat-icon-button (click)="removeUserPhonebook(invitee)" [disabled]="reservationEdit.smartRoomScheduleId">
                <mat-icon>close</mat-icon>
              </button>
            </span>

          </mat-list-item>
          <mat-list-item *ngFor="let contactGroup of reservationEdit.contactGroups">
            <span>
              {{contactGroup.name}} - {{contactGroup.description}}
              <button type="button" mat-icon-button (click)="removeContactGroup(contactGroup)" [disabled]="reservationEdit.smartRoomScheduleId">
                <mat-icon>close</mat-icon>
              </button>
            </span>

          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="edit-last-separator-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.bookedBy">
          <input matInput disabled type="text" id="organiser" name="organiser" placeholder="Organised By" [(ngModel)]="reservationEdit.bookedBy" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always">
          <input matInput [disabled]="reservationEdit.smartRoomScheduleId" type="text" id="meetingContactNo" name="meetingContactNo" placeholder="Contact No" [(ngModel)]="reservationEdit.meetingContactNo" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.createdOn">
          <input matInput disabled type="text" id="organisedOn" name="organisedOn" placeholder="Created On" value="{{reservationEdit.createdOn | dateTimeOnly}}" />
        </mat-form-field>
      </div>
      <div class="col-md-6 col-xs-12">
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.requestedBy">
          <input matInput disabled type="text" id="requestedBy" name="requestedBy" placeholder="Requested By" [(ngModel)]="reservationEdit.requestedBy" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.status">
          <input matInput disabled type="text" id="status" name="status" placeholder="Status" [(ngModel)]="reservationEdit.status" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.lastUpdatedBy">
          <input matInput disabled type="text" id="updatedBy" name="updatedBy" placeholder="Last Updated By" [(ngModel)]="reservationEdit.lastUpdatedByName" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12" [floatLabel]="always" *ngIf="reservationEdit.lastUpdatedOn">
          <input matInput disabled type="text" id="updatedOn" name="updatedOn" placeholder="Updated On" value="{{reservationEdit.lastUpdatedOn | dateTimeOnly}}" />
        </mat-form-field>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>

  <div mat-dialog-actions align="center">
    <button type="button" [disabled]="isSaving" mat-button (click)="cancel()"><i class='fa fa-times'></i>{{'reservations.editor.Cancel' | translate}}</button>
    <button type="submit" [disabled]="isSaving" mat-button cdkFocusInitial>
      <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('reservations.editor.Saving' | translate) : ('reservations.editor.Save' | translate)}}
    </button>
  </div>
</form>
