<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12 ">
        <div class="table-responsive">
          <ngx-datatable class="material colored-header" #dataLogDetailsTable
                         [loadingIndicator]="loadingIndicator"
                         [rows]="rows"
                         [rowHeight]="'auto'"
                         [headerHeight]="'auto'"
                         [footerHeight]="35"
                         [columns]="columns"
                         [columnMode]="force"
                         [limit]="20">
          </ngx-datatable>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
    <div mat-dialog-actions align="center">
      <button type="button" mat-button (click)="cancel()">{{'departments.editor.Close' | translate}}</button>
    </div>
</div>
