.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}


    .boxshadow::after {
        content: '';
        position: absolute;
        z-index: -1; /* hide shadow behind image */
        -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        width: 70%;
        left: 15%; /* one half of the remaining 30% */
        height: 100px;
        bottom: 0;
    }


.cardshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.separator-hr {
    margin: 0;
}

.last-control-group {
    margin-bottom: -25px;
}

.login-container .panel-primary > .panel-heading {
  color: #fff;
  background-color: #007f7b;
  border-color: #007f7b;
}

.login-container .btn-primary {
  color: #fff;
  background-color: #007f7b;
  border-color: #007f7b;
}

@media (min-width: 768px) {
  .login-container {
        width: 700px;
    }
}

/*@media (min-width: 992px) {
    .login-container {
        width: 700px;
    }
}*/

@media (min-width: 1200px) {
    .login-container {
        width: 730px;
    }
}

.input-wrapper {
  position: relative; /* This is the anchor */
}

.input-with-icon {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
  /* * KEY STEP: Add padding to the right to make space for the icon.
   * Adjust "40px" based on your icon's size and spacing.
   */
  padding-right: 40px;
}

/* 3. The icon/button */
.input-icon {
  position: absolute; /* This overlays the icon */
  top: 50%; /* Moves it down 50% */
  right: 15px; /* Positions it 10px from the right edge */
  /* This trick perfectly centers the icon vertically */
  transform: translateY(-50%);
  cursor: pointer; /* Makes it feel clickable */
  color: #555; /* Icon color */
  user-select: none; /* Prevents selecting the icon text */
}

