<h2 mat-dialog-title>Wallet Transfer</h2>

<mat-dialog-content>
    <mat-form-field appearance="outline" floatLabel="always" class="col-md-12">
        <mat-label>Transfer to</mat-label>
        <mat-select [(ngModel)]="data.studentIdTo" required>
            <mat-option>
                <ngx-mat-select-search placeholderLabel="Search student" [formControl]="studentSearchCtrl">
                </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let student of students" [value]="student.id" [style.display]="
        student.name.toLowerCase().includes((studentSearchCtrl?.value || '').toLowerCase()) ||
        student.class.toLowerCase().includes((studentSearchCtrl?.value || '').toLowerCase()) ? 'block': 'none' ">
                {{ student.name }} - {{ student.class }}
            </mat-option>

        </mat-select>
    </mat-form-field>


    <mat-form-field class="col-md-12">
        <mat-label>Amount</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="data.amount" required>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()" [disabled]="isSaving"><i class='fa fa-times'></i>
        {{'common.editor.Cancel' | translate}}</button>
    <button type="button" (click)="save()" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
        {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
    </button>
</mat-dialog-actions>
