<h1 mat-dialog-title style="overflow-wrap: anywhere;">{{data.header}} for {{menuCycle.label}} {{day > 0 ? '(Day ' + day + ')' : ''}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="viewMenuEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!menuCycleLabel.valid && showErrorAlert('Label is required', 'Please enter label (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <div  class="col-xs-12" style="min-height:300px">
          <mat-tab-group>
            <mat-tab [label]="period.mealPeriodName" *ngFor="let period of periods; let x=index" class="tab-title">
              <ng-template mat-tab-label>{{period.mealPeriodName}}</ng-template>
              <br />
              <div *ngFor="let menu of period.menus">
                <mat-checkbox id="menu-{{period.mealPeriodId}}-{{menu.menuId}}" name="menu-{{period.mealPeriodId}}-{{menu.menuId}}" [(ngModel)]="menu.checked" (change)="selectDeselectAllDishes(menu)">
                  {{menu.label}}
                </mat-checkbox>

                <mat-tab-group>
                  <mat-tab [label]="mealTypeMenuDish.mealTypeName" *ngFor="let mealTypeMenuDish of menu.menu.mealTypeMenuDishes; let i=index" class="tab-title">
                    <ng-template mat-tab-label>{{mealTypeMenuDish.mealTypeName}}</ng-template>
                    <table class="table table-sm table-bordered">
                      <thead class="text-center">
                        <tr>
                          <td style="width:50px"></td>
                          <td>Dish Name</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let menuDish of mealTypeMenuDish.menuDishes; let y=index">
                          <td>
                            <mat-checkbox id="dish-{{period.mealPeriodId}}{{menuDish.menuId}}{{mealTypeMenuDish.mealTypeId}}{{menuDish.dishId}}{{y}}" name="dish-{{period.mealPeriodId}}{{menuDish.menuId}}{{mealTypeMenuDish.mealTypeId}}{{menuDish.dishId}}{{y}}" [(ngModel)]="menuDish.checked" (change)="selectMenu(menuDish, menu)">
                            </mat-checkbox>
                          </td>
                          <td>{{menuDish.dishName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-tab>
          </mat-tab-group>

          <!--<table class="table table-sm table-condensed table-bordered" style="margin-top: 10px">
            <thead>
              <tr>
                <th colspan="2" class="text-center">{{period.mealPeriodName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let menu of period.menus">
                <td style="width:30px">
                  <mat-checkbox id="menu-{{period.mealPeriodId}}-{{menu.menuId}}" name="menu-{{period.mealPeriodId}}-{{menu.menuId}}" [(ngModel)]="menu.checked">
                  </mat-checkbox>
                </td>
                <td>
                  {{menu.label}}
                </td>
              </tr>
            </tbody>
          </table>-->
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
      <button type="submit" mat-button [disabled]="isSaving" *ngIf="day > 0">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
