<div>
  <header class="pageHeader">
    <h3>Order Cancellation</h3>
  </header>
  <div class="row control-box">
    
      <mat-form-field class="col-xs-12 col-sm-3">
        <input matInput autocomplete="off" type="text" id="keyword" name="keyword" placeholder="Student Name/Email"
               [(ngModel)]="filter.keyword" #keyword="ngModel" />
      </mat-form-field>
    
      <mat-form-field class="col-xs-12 col-sm-3">
        <input matInput autocomplete="off" type="text" id="invNo" name="invNo" placeholder="Invoice No."
               [(ngModel)]="filter.invoiceNumber" #invNo="ngModel" />
      </mat-form-field>
    
      <mat-form-field class="col-xs-12 col-sm-3">
        <input matInput autocomplete="off" type="text" id="orderNo" name="orderNo" placeholder="Order No."
               [(ngModel)]="filter.orderNumber" #orderNo="ngModel" />
      </mat-form-field>
    
      <mat-checkbox [(ngModel)]="isFAS" class="col-xs-12 col-sm-3">
        <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">FAS Only</label>
      </mat-checkbox>
      <div class="clearfix"></div>
      <mat-form-field class="col-xs-12 col-sm-3">
        <input matInput [matDatepicker]="startpicker" placeholder="Delivery Start Date" [value]="start"
               (dateChange)="onChangeDate('start', $event)">
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field class="col-xs-12 col-sm-3">
        <input matInput [matDatepicker]="endpicker" placeholder="Delivery End Date" [value]="end"
               (dateChange)="onChangeDate('end',$event)">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>
    <!--<div class="col-xs-6 col-sm-4 col-md-2">
    <mat-form-field>
      <mat-select name="status" [(ngModel)]="status" placeholder="Status">
        <mat-option *ngFor="let t of statuses" [value]="t">
          {{t}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->
    <div class="col-xs-12 col-sm-12 col-md-3" style="padding-bottom:10px;">
      <button type="button" class="btn btn-sm" (click)="clearFilters();">Clear</button>
      <button type="button" class="btn btn-sm btn-info" (click)="loadData();">Filter</button>
      <button *ngIf="canManageOrderCancellations" type="button" class="btn btn-sm btn-warning" (click)="cancelOrder();" style="margin-left:10px">Cancel Order</button>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable class="material my-custom-header-table" #orderTable
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="'auto'"
                   [headerHeight]="'auto'"
                   [footerHeight]="35"
                   [columns]="columns"
                   [columnMode]="'force'"
                   [externalPaging]="true"
                   [externalSorting]="true"
                   [count]="pagedResult.totalCount"
                   [limit]="pagedResult.filter.pageSize"
                   (page)="loadData($event)"
                   [selected]="selected"
                   [selectionType]="'checkbox'"
                   [selectAllRowsOnPage]="true"
                   (select)="onSelect($event)"
                   (sort)="loadData($event)">
    </ngx-datatable>
  </div>
  <ng-template #hdrTpl let-column="column"
               let-selectFn="selectFn"
               let-allRowsSelected="allRowsSelected"
               let-value="value">
    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
  </ng-template>

   <ng-template #indexTemplate
               let-value="value"
               let-isSelected="isSelected"
               let-onCheckboxChangeFn="onCheckboxChangeFn"
               let-rowCount="rowCount"
               let-pageSize="pageSize"
               let-curPage="curPage"
               let-offset="offset">
    <input type="checkbox"
           [checked]="isSelected"
           (change)="onCheckboxChangeFn($event)" />
  </ng-template>
</div>
