<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="transactionFeeEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!transactionFeeName.valid && showErrorAlert('Name is required', 'Please enter name (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-12">
          <mat-label>Payment Type</mat-label>
          <mat-select [disabled]="!canManageTransactionFees" id="paymentType" name="paymentType" [(ngModel)]="transactionFeeEdit.paymentTypeId" #paymentType="ngModel" required>
            <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
              {{paymentType.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="showValidationErrors && f.submitted">Payment Type is required</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageTransactionFees" type="text" id="transactionFeeName" name="transactionFeeName" placeholder="Name" [(ngModel)]="transactionFeeEdit.name" #transactionFeeName="ngModel" required minlength="2" maxlength="200" />
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline col-md-12" style="padding-left: 15px !important;">
          <input matInput placeholder="Charge in" style="display: none" [disabled]="!canManageTransactionFees">
          <mat-radio-group name="ChargeType" [(ngModel)]="transactionFeeEdit.isFixed" [disabled]="!canManageTransactionFees">
            <mat-radio-button [value]="true">% of the Total</mat-radio-button>&nbsp;
            <mat-radio-button [value]="false">Fixed Amount</mat-radio-button>&nbsp;
          </mat-radio-group>
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageTransactionFees" type="number" id="transactionFeeAmount" name="transactionFeeAmount" placeholder="Amount/Percentage" [(ngModel)]="transactionFeeEdit.amount" #transactionFeeAmount="ngModel"/>
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageTransactionFees" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageTransactionFees" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageTransactionFees" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
