<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="driverEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!driverName.valid && showErrorAlert('Name is required', 'Please enter name (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageDrivers" type="text" id="driverName" name="driverName" placeholder="Enter name" [(ngModel)]="driverEdit.name" #driverName="ngModel" required minlength="2" maxlength="200" />
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageDrivers" type="text" id="driverContact" name="driverContact" placeholder="Enter Contact Number" [(ngModel)]="driverEdit.contact" #driverContact="ngModel" />
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageDrivers" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageDrivers" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageDrivers" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
