<h1 mat-dialog-title>Dishes</h1>
<div mat-dialog-content>
    <div class="form-group search-box">
        <search-box #searchbox (searchChange)="onSearchChanged($event)"
            placeholder="{{'common.Search' | translate}}"></search-box>
    </div>
    <div class="row">
        <mat-form-field class="col-md-4 col-xs-12">
            <mat-label>Outlet Profile</mat-label>
            <mat-select id="outletProfileId" name="outletProfileId" [(ngModel)]="selectedOutletProfileId"
                (selectionChange)="onOutletChange($event.value)">
                <mat-option *ngFor=" let outletProfile of outletProfiles" [value]="outletProfile.id">
                    {{outletProfile.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-xs-12">
            <mat-label>Dish Cycle</mat-label>
            <mat-select id="dishCycleId" name="dishCycleId" [(ngModel)]="selectedDishCycleId"
                (selectionChange)="onDishCycleChange($event.value)" [disabled]="dishCycleLoading">
                <mat-option *ngFor=" let item of dishCycles" [value]="item.id">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-md-4 col-xs-12" style="display: flex;gap: 5px;">
            <button mat-raised-button (click)="onAppyFilterTrigger()">Apply</button>
            <button mat-raised-button (click)="clearFilters()" color="warn">Clear</button>
        </div>
    </div>
    <ngx-datatable class="material colored-header" [loadingIndicator]="loadingIndicator" [rows]="rows"
        [rowHeight]="'auto'" [headerHeight]="'auto'" [footerHeight]="35" [columns]="columns" [columnMode]="'force'"
        [limit]="10" [selectionType]="'checkbox'" (select)="onSelect($event)" [selected]="selected">
    </ngx-datatable>

    <ng-template #hdrTpl let-column="column" let-selectFn="selectFn" let-allRowsSelected="allRowsSelected"
        let-value="value">
        <a class="example-section btn btn-link btn-xs header" style="cursor:pointer">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
        </a>
    </ng-template>

    <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index" let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
        <a class="example-section btn btn-link btn-xs" style="cursor:pointer">
            <mat-checkbox [(ngModel)]="row.checked" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
        </a>
    </ng-template>
</div>
<div mat-dialog-actions style="display: flex;justify-content: center;">
    <button type="button" mat-button (click)="cancel()"><i class='fa fa-times'></i>{{'reservations.editor.Cancel' |
        translate}}</button>
    <button type="button" mat-button (click)="save()">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
        Choose
    </button>
</div>