<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="emailTemplateEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!emailTemplateSubject.valid && showErrorAlert('Subject is required', 'Please enter name (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-6 col-xs-12">
          <input matInput autocomplete="off" [disabled]="!canManageEmailTemplates" type="text" id="emailTemplateFromName" name="emailTemplateFromName" placeholder="From Name" [(ngModel)]="emailTemplateEdit.fromName" #emailTemplateFromName="ngModel" required />
        </mat-form-field>
        <!--<mat-form-field class="col-md-6 col-xs-12">
          <input matInput autocomplete="off" [disabled]="!canManageEmailTemplates" type="text" id="emailTemplateFromEmail" name="emailTemplateFromEmail" placeholder="From Email" [(ngModel)]="emailTemplateEdit.fromEmail" #emailTemplateFromEmail="ngModel" required />
        </mat-form-field>-->
        <mat-form-field class="col-md-6">
          <input matInput autocomplete="off" [disabled]="!canManageEmailTemplates" type="text" id="emailTemplateSubject" name="emailTemplateSubject" placeholder="Subject" [(ngModel)]="emailTemplateEdit.subject" #emailTemplateSubject="ngModel" required />
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <textarea rows="5" matInput type="text" [disabled]="!canManageEmailTemplates" id="emailTemplateBody" autocomplete="off" name="emailTemplateBody" placeholder="Body" #emailTemplateBody="ngModel" [(ngModel)]="emailTemplateEdit.body" required></textarea>
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageEmailTemplates" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageEmailTemplates" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageEmailTemplates" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
