<div class="page-section">
  <header class="pageHeader">
    <h3>FAS Meal Ordering</h3>
  </header>
  <div class="row control-box">
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <mat-label>Delivery Location</mat-label>
      <mat-select id="store" name="store" [(ngModel)]="storeId" #store="ngModel" required (selectionChange)="onChangeStore()">
        <mat-option *ngFor="let store of stores" [value]="store.id">
          {{store.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <input matInput [matDatepicker]="delvdatepicker" placeholder="Delivery Date From" [value]="delvdate" required (dateChange)="onChangeDate($event, 'from')">
      <mat-datepicker-toggle matSuffix [for]="delvdatepicker"></mat-datepicker-toggle>
      <mat-datepicker #delvdatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <input matInput [matDatepicker]="delvdateTopicker" placeholder="Delivery Date To" [value]="delvdateTo" required (dateChange)="onChangeDate($event)">
      <mat-datepicker-toggle matSuffix [for]="delvdateTopicker"></mat-datepicker-toggle>
      <mat-datepicker #delvdateTopicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <mat-label>Session</mat-label>
      <mat-select id="mealSession" name="mealSession" [(ngModel)]="mealSessionId" #mealSession="ngModel" required>
        <mat-option *ngFor="let mealSessionDetail of mealSessions" [value]="mealSessionDetail.mealSessionId">
          {{mealSessionDetail.mealSessionName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-sm-6 col-xs-12">
      <mat-label>Dish Type</mat-label>
      <mat-select id="dishType" name="dishType" [(ngModel)]="dishTypeId" #dishType="ngModel" required [disabled]="isLoadingMealSessions">
        <mat-option *ngFor="let dishType of allDishTypes" [value]="dishType.id">
          {{dishType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row control-box" style="padding-left:20px">
    <button *ngIf="canManageFasMealOrders" type="button" mat-stroked-button color="primary" [disabled]="isSaving" (click)="save()">
      <i *ngIf="!isSaving" class='fa'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? 'Processing orders' : 'Assign orders'}}
    </button>
    <!--<button *ngIf="canManageFasMealOrders" type="button" mat-stroked-button color="warning" [disabled]="isSaving && isClear" (click)="save(true)" style="margin-left:15px;">
      <i *ngIf="!isSaving && isClear" class='fa'></i><i *ngIf="isSaving && isClear" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving && isClear ? 'Processing orders' : 'Delete orders'}}
    </button>-->
    <button *ngIf="canManageFasMealOrders" type="button" mat-stroked-button (click)="onShowSummary()" [disabled]="isShowSummary" style="margin-left:15px;">
      <i *ngIf="!isShowSummary" class='fa fa-refresh'></i><i *ngIf="isShowSummary" class='fa fa-circle-o-notch fa-spin'></i> {{isShowSummary ? 'Loading summary' : 'Show Summary'}}
    </button>
  </div>
  <br />
  <b *ngIf="rows && rows.length > 0">Summary Order for {{delvdate.toDateString()}} to {{delvdateTo.toDateString()}}</b>
  <!--<ngx-datatable *ngIf="rows && rows.length > 0" class="material colored-header"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="50"
                 [headerHeight]="50"
                 [footerHeight]="35"
                 [scrollbarH]="true"
                 [columns]="columns"
                 [columnMode]="'force'">
  </ngx-datatable>-->
  <div class="table-container table-overflow">
  <table class="table table-responsive table-sm material colored-header table-bordered">
    <thead>
      <tr *ngFor="let header of rows.headers">
        <th class="stick-header" *ngFor="let cell of header.cells" scope="col" [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan">{{cell.val}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let header of rows.rows; let i = index;">
        <td [ngClass]="j == 0 ? 'sticky-column' : ''" *ngFor="let cell of header.cells; let j = index" scope="col" [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan">{{cell.val}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="rows.total">
        <td [ngClass]="j == 0 ? 'sticky-column' : ''" *ngFor="let cell of rows.total.cells; let x = index" scope="col" [attr.rowspan]="cell.rowspan" [attr.colspan]="cell.colspan">{{cell.val}}</td>
      </tr>
    </tfoot>
  </table>
    </div>
  <!--
  <ng-template #indexTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="selectRow(row)"><i class="fa " aria-hidden="true"></i> SELECT</a>
    </div>
  </ng-template>-->
</div>
