
.nav-pills > li > a {
  border-radius: 2px;
}

.dropdown-submenu {
  position: relative;
}

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .dropdown-submenu:hover > .dropdown-menu, .dropdown-submenu:active > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

    .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }


.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #0b9c97;
  color: #ffffff;
}


.navbar .nav li a:hover, .navbar.nav li.toolbaritem a:hover, .nav.nav-tabsNOTUSE li a:hover {
  color: #007f7b !important;
}

.dropdown-menu > app-sub-menu-panel > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}


.dropdown-menu {
  border-radius: 2px;
}
.sub-menu-icon {
  padding-right: 5px;
}
