<div>
  <h1 mat-dialog-title>{{data.header}}</h1>
  <div mat-dialog-content>
    <div *ngIf="!isLoading" class="form-group search-box">
      <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'common.Search' | translate}}"></search-box>
    </div>
    <div class="form-group">
      <mat-label>Class Filter:</mat-label>
      <mat-select [disabled]="isLoading" id="cl" name="cl" (selectionChange)="onClassChanged($event)" [(ngModel)]="filterClassId" #cl="ngModel">
        <mat-option *ngFor="let c of classes" [value]="c.id">
          {{c.name}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <mat-label>Interest Group Filter:</mat-label>
      <mat-select [disabled]="isLoading" id="ig" name="ig" (selectionChange)="onGroupChanged($event)" [(ngModel)]="filterIGId" #ig="ngModel">
        <mat-option *ngFor="let ig of interestGroups" [value]="ig.id">
          {{ig.name}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <mat-label>Is FAS:</mat-label>
      <mat-radio-group [disabled]="isLoading" id="fas" name="fas" (change)="onFASChange($event)" [(ngModel)]="filterIsFas" #fas="ngModel">
        <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;
        <mat-radio-button [value]="false">No</mat-radio-button>&nbsp;
      </mat-radio-group>
      <button [disabled]="isLoading" type="button" mat-button (click)="clearFilter()">Clear Filters</button>

    </div>
    <div class="row">
      <ngx-datatable class="material colored-header" #studentSelTable
                     [loadingIndicator]="loadingIndicator"
                     [rows]="rows"
                     [rowHeight]="'auto'"
                     [headerHeight]="'auto'"
                     [footerHeight]="35"
                     [columns]="columns"
                     [columnMode]="'force'"
                     [limit]="10"
                     [selected]="selected"
                     [selectionType]="'checkbox'"
                     (select)="onSelect($event)">
      </ngx-datatable>

    </div>

    <ng-template #hdrTpl let-column="column"
                 let-selectFn="selectFn"
                 let-allRowsSelected="allRowsSelected"
                 let-value="value">
      <a class="example-section btn btn-link btn-xs header" style="cursor:pointer">
        <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
      </a>

      <!--<input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />-->
    </ng-template>

    <ng-template #actionsTemplate
                 let-row="row"
                 let-value="value"
                 let-i="index"
                 let-isSelected="isSelected"
                 let-onCheckboxChangeFn="onCheckboxChangeFn">
      <a class="example-section btn btn-link btn-xs" style="cursor:pointer">
        <mat-checkbox [(ngModel)]="row.checked"
                      (change)="onCheckboxChangeFn($event)"></mat-checkbox>
      </a>
    </ng-template>

    <!--<ng-template #actionsTemplate
                 let-value="value"
                 let-isSelected="isSelected"
                 let-onCheckboxChangeFn="onCheckboxChangeFn"
                 let-rowCount="rowCount"
                 let-pageSize="pageSize"
                 let-curPage="curPage"
                 let-offset="offset">
      <input type="checkbox"
             [checked]="isSelected"
             (change)="onCheckboxChangeFn($event)" />
    </ng-template>-->

    <ng-template #fasTemplate let-row="row" let-value="value" let-i="index">
      {{(row.isFAS ? 'YES' : 'NO')}}
    </ng-template>
  </div>

  <div mat-dialog-actions align="center">
    <button type="button" mat-button (click)="cancel()"><i class='fa fa-times'></i>{{'reservations.editor.Cancel' | translate}}</button>
    <button type="button" mat-button cdkFocusInitial (click)="save()">
      <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> Choose
    </button>
  </div>
</div>
