 
<br/>
<br/>
<div class="center">

  <div class="jumbotron text-center">
    <h1 class="display-3">{{'paymentSucesss.Thankyou' | translate}}      </h1>
    <p class="lead"> {{'paymentSucesss.PaymentConfirmed' | translate}} </p>
    <hr>

    <div class="center">
      <mat-dialog-actions>
        <button cdkFocusInitial class="btn btn-primary btn-sm"
                (click)="returnBack()">
          {{'paymentSucesss.ReturnLink' | translate}}
        </button>
      </mat-dialog-actions>
    </div>


    <!--
      <div> fomoPayOrderId value {{fomoPayOrderId}}</div>
      <div> ourOrderNumber value {{ourOrderNumber}}</div>
    -->


  </div>
 
 
</div>
