<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="studentEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() : invalidate()">
    <div mat-dialog-content>
      <div class="row">

        <div class="col-sm-6">
          <mat-label>Wallet Balance: </mat-label>
          <input matInput [disabled]="true"
                 type="text"
                 [value]="studentEdit.walletBalance | currency:'USD':'symbol':'1.2-2'">
        </div>

        <div class="col-sm-6">
          <mat-label>Point: </mat-label>
          <input matInput [disabled]="true"
                 type="text"
                 [value]="studentEdit.pointBalance">
        </div>

        <div class="col-sm-12">
          <h4>Student Information</h4>
        </div>
        <div class="col-sm-12">
          <!--<mat-form-field class="col-xs-12">
      <mat-label>Outlet</mat-label>
      <mat-select [disabled]="!canManageStudents" id="outlet" name="outlet" [(ngModel)]="studentEdit.outletId" #outlet="ngModel" required (selectionChange)="onOutletChange($event.value)">
        <mat-option *ngFor="let outlet of outlets" [value]="outlet.id">
          {{outlet.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->

          <mat-form-field class="col-md-12">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="studentName" name="studentName" placeholder="Enter name" [(ngModel)]="studentEdit.name" #studentName="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted">Name is required</mat-error>
          </mat-form-field>
          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline col-md-6" style="padding-left: 15px !important;">
            <input matInput placeholder="Gender" style="display: none" [disabled]="!canManageStudents">
            <mat-radio-group name="Gender" [(ngModel)]="studentEdit.gender" [disabled]="!canManageStudents">
              <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
              <mat-radio-button value="Female">Female</mat-radio-button>&nbsp;
            </mat-radio-group>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="number" id="studentTargetWeeklyCalIntake" name="targetWeeklyCalIntake" placeholder="Target Weekly Cal Intake" [(ngModel)]="studentEdit.targetWeeklyCalIntake" #targetWeeklyCalIntake="ngModel" />
          </mat-form-field>
          <div class="clearfix"></div>
          <mat-form-field class="col-xs-12 col-md-6">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="studentWeight" name="studentWeight" placeholder="Weight (kg)" [(ngModel)]="studentEdit.weight" #studentWeight="ngModel" step='0.01' />
          </mat-form-field>
          <mat-form-field class="col-xs-12 col-md-6">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="studentHeight" name="studentHeight" placeholder="Height (cm)" [(ngModel)]="studentEdit.height" #studentHeight="ngModel" step='0.01' />
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-label>Batch</mat-label>
            <mat-select [disabled]="!canManageStudents" id="cb" name="cb" [(ngModel)]="studentEdit.classBatchId" required #cb="ngModel">
              <mat-option *ngFor="let c of batches" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showValidationErrors && f.submitted">Batch is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-label>Level</mat-label>
            <mat-select [disabled]="!canManageStudents" id="classLevel" name="classLevel" [(ngModel)]="studentEdit.classLevelId" #classLevel="ngModel" (selectionChange)="onClassLevelChange($event.value)">
              <mat-option *ngFor="let classLevel of classLevels" [value]="classLevel.id">
                {{classLevel.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showValidationErrors && f.submitted">Level is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-label>Class</mat-label>
            <mat-select [disabled]="!canManageStudents" id="cl" name="cl" [(ngModel)]="studentEdit.classId" required #cl="ngModel">
              <mat-option *ngFor="let c of classes" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showValidationErrors && f.submitted">Class is required</mat-error>
          </mat-form-field>
          <mat-form-field floatPlaceholder="always" class="mat-form-field--no-underline col-md-12" style="padding-left: 15px !important;">
            <input matInput placeholder="FAS Student" style="display: none">
            <mat-radio-group name="FAS Student" [(ngModel)]="studentEdit.isFAS">
              <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;
              <mat-radio-button [value]="false">No</mat-radio-button>&nbsp;
            </mat-radio-group>
          </mat-form-field>
        </div>
        <hr />
        <div class="col-sm-12" *ngIf="studentEdit && studentEdit.id">
          <div class="col-sm-12" style="padding: 0;">
            <h4>Vouchers</h4>
          </div>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Voucher Code</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of studentEdit.vouchers;let i = index">
                <td>{{row.voucherCode}}</td>
                <td>{{row.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="col-sm-12" *ngIf="studentEdit && studentEdit.id">
          <div class="col-sm-12" style="padding: 0;">
            <h4>Custodians</h4>
          </div>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Full Name</th>
                <th scope="col">User Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of studentEdit.users;let i = index">
                <td>{{row.fullName}}</td>
                <td>{{row.userName}}</td>
                <td>
                  <a class="btn btn-link btn-xs" href="javascript:;" *ngIf="row.isActive" (click)="row.isActive = false">
                    Remove
                  </a>
                  <a class="btn btn-link btn-xs" href="javascript:;" *ngIf="!row.isActive" (click)="row.isActive = true">
                    Undo Remove
                  </a>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <hr />
        <div class="col-sm-12">
          <h4>Restrictions</h4>
        </div>
        <div class="col-sm-12" style="min-height:100px">
          <mat-tab-group>
            <mat-tab [label]="restrictionType.label" *ngFor="let restrictionType of restrictionTypes; let x=index" class="tab-title">
              <ng-template mat-tab-label>{{restrictionType.label}}</ng-template>
              <div style="margin-top:20px">
                <div *ngFor="let restriction of restrictionType.restrictions; let i=index" class="col-md-6">
                  <mat-checkbox class="col-sm-6 col-xs-12" [(ngModel)]="restriction.checked" id="restriction-{{i}}"
                                name="restriction-{{i}}">
                    <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">{{restriction.label}}</label>
                  </mat-checkbox>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>

        <!--<div *ngFor="let restriction of restrictions; let i=index" class="col-md-6">
    <mat-checkbox class="col-sm-6 col-xs-12" [(ngModel)]="restriction.checked" id="restriction-{{i}}"
                  name="restriction-{{i}}">
      <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">{{restriction.label}}</label>
    </mat-checkbox>
  </div>-->
        <hr />
        <div class="col-sm-12">
          <h4>Interest Groups</h4>
        </div>
        <div *ngFor="let interestGroup of interestGroups; let i=index" class="col-md-6">
          -6
          >
          <mat-checkbox class="col-sm-6 col-xs-12" [(ngModel)]="interestGroup.checked" id="interestGroup-{{i}}"
                        name="interestGroup-{{i}}">
            <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">{{interestGroup.name}}</label>
          </mat-checkbox>
        </div>
        <hr />
        <div class="col-sm-12">
          <h4>Card Information</h4>
        </div>
        <hr />
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-md-12">
              <button type="button" mat-button (click)="addCardId()">
                <mat-icon>
                  card_membership
                </mat-icon> Add Card
              </button>
            </div>
            <div class="col-sm-12">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Card Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remarks</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of studentEdit.studentCards;let i = index">
                    <td>{{row.cardId}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.remarks}}</td>
                    <td>
                      <a class="btn btn-link btn-xs" href="javascript:;" (click)="activateCardId(row,i)">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn-link btn-xs" href="javascript:;" (click)="editCardId(row,i)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteCardId(row)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <mat-checkbox class="col-sm-6 col-xs-12" name="isAddAccount" [(ngModel)]="isAddAccount">
            <label style="margin: 3px 8px auto 0;color: rgba(0,0,0,.54);font-weight: 500;font-size: smaller;">Create Account</label>
          </mat-checkbox>
        </div>

        <hr />
        <div class="col-sm-12" *ngIf="isAddAccount">
          <h4>Account Information</h4>
        </div>

        <div class="col-sm-12" *ngIf="isAddAccount">
          <!--<mat-form-field class="col-md-12">
      <mat-label>User Type</mat-label>
      <mat-select [disabled]="!canManageStudents" id="classLevel" name="classLevel" [(ngModel)]="studentEdit.userTypeId" #userTypeId="ngModel" required>
        <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
          {{userType.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="showValidationErrors && f.submitted">User Type is required</mat-error>
    </mat-form-field>-->
          <mat-form-field class="col-md-12">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="studentUserName" name="studentUserName" placeholder="Enter username" [(ngModel)]="studentEdit.username" #studentUserName="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input matInput autocomplete="off" [disabled]="!canManageStudents" type="text" id="studentEmail" name="studentEmail" placeholder="Enter email" [(ngModel)]="studentEdit.email" #studentEmail="ngModel" required minlength="2" maxlength="200" />
            <mat-error *ngIf="showValidationErrors && f.submitted">Email is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="isAddAccount">

          <!--<label for="newPassword" class="control-label col-md-2">{{'users.editor.Password' | translate}}</label>-->
          <div *ngIf="!isChangePassword && studentEdit.userId" class="col-md-12">
            <button type="button" (click)="changePassword()" class="btn btn-link">{{'users.editor.ChangePassword' | translate}}</button>
            <button type="button" (click)="resetPassword(studentEdit)" class="btn btn-link">
                Reset Password
            </button>
          </div>

          <div *ngIf="isChangePassword || (isAddAccount && !studentEdit.userId)" class="col-md-12">
            <div class="password-well well well-sm">
              <div *ngIf="isEditingSelf" class="form-group has-feedback">
                <label class="control-label col-md-3" for="currentPassword">{{'users.editor.CurrentPassword' | translate}}</label>
                <div class="col-md-9" [ngClass]="{'has-success': f.submitted && currentPassword.valid, 'has-error' : f.submitted && !currentPassword.valid}">
                  <input type="password" attr.id="currentPassword" name="currentPassword" [attr.autocomplete]="new-password" placeholder="Enter current password" class="form-control" [(ngModel)]="studentEdit.currentPassword" #currentPassword="ngModel"
                         required />
                  <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': currentPassword.valid, 'glyphicon-remove' : !currentPassword.valid}"></span>
                  <span *ngIf="showValidationErrors && f.submitted && !currentPassword.valid" class="errorMessage">
                    {{'users.editor.CurrentPasswordRequired' | translate}}
                  </span>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="control-label col-md-3" for="newPassword">{{'users.editor.NewPassword' | translate}}</label>
                <div class="col-md-9" [ngClass]="{'has-success': f.submitted && newPassword.valid, 'has-error' : f.submitted && !newPassword.valid}">
                  <input type="password" attr.id="newPassword" name="newPassword" placeholder="Enter new password" class="form-control" [(ngModel)]="studentEdit.newPassword" #newPassword="ngModel"
                         required minlength="6" validateEqual="confirmPassword" reverse="true" />
                  <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': newPassword.valid, 'glyphicon-remove' : !newPassword.valid}"></span>
                  <span *ngIf="showValidationErrors && f.submitted && !newPassword.valid" class="errorMessage">
                    {{'users.editor.NewPasswordRequired' | translate}}
                  </span>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="control-label col-md-3" for="confirmPassword">{{'users.editor.ConfirmPassword' | translate}}</label>
                <div class="col-md-9" [ngClass]="{'has-success': f.submitted && confirmPassword.valid, 'has-error' : f.submitted && !confirmPassword.valid}">
                  <input type="password" attr.id="confirmPassword" name="confirmPassword" [attr.autocomplete]="isGeneralEditor ? new-password : null" placeholder="Confirm new password" class="form-control" [(ngModel)]="studentEdit.confirmPassword" #confirmPassword="ngModel"
                         required validateEqual="newPassword" />
                  <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': confirmPassword.valid, 'glyphicon-remove' : !confirmPassword.valid}"></span>
                  <span *ngIf="showValidationErrors && f.submitted && confirmPassword.errors?.required" class="errorMessage">
                    {{'users.editor.ConfirmationPasswordRequired' | translate}}
                  </span>
                  <span *ngIf="showValidationErrors && f.submitted && confirmPassword.errors?.validateEqual && !confirmPassword.errors?.required" class="errorMessage">
                    {{'users.editor.PasswordMismatch' | translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<hr />
  <div class="col-sm-12" *ngIf="isAddAccount">
    <div class="form-group row">
      <div class="col-md-12">
        <button type="button" mat-button (click)="addCardId()" >
          <mat-icon>
            card_membership
          </mat-icon> Add Card Id
        </button>
      </div>
      <div class="col-sm-12">
        <table class="table table-sm" >
          <thead>
            <tr>
              <th scope="col">Card Id</th>
              <th scope="col">Status</th>
              <th scope="col">Remarks</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of studentEdit.cards;let i = index">
              <td>{{row.cardId}}</td>
              <td>{{row.status}}</td>
              <td>{{row.remarks}}</td>
              <td>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="activateCardId(row,i)">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editCardId(row,i)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteCardId(row)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>-->
      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageStudents" type="button" mat-button (click)="cancel()">{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageStudents" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageStudents" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
