<h1 mat-dialog-title>{{data.header}}</h1>
<div>
  <form *ngIf="formResetToggle" class="form-horizontal" name="cartonAssetEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!cartonAssetName.valid && showErrorAlert('Name is required', 'Please enter name (minimum of 2 and maximum of 200 characters)'));">
    <div mat-dialog-content>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput autocomplete="off" [disabled]="!canManageCartonAssets" type="text" id="cartonAssetCode" name="cartonAssetCode" placeholder="Tag Id" [(ngModel)]="cartonAssetEdit.code" #cartonAssetCode="ngModel" required minlength="2" maxlength="200" />
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Carton Type</mat-label>
          <mat-select [disabled]="!canManageCartonAssets" id="cartonType" name="cartonType" [(ngModel)]="cartonAssetEdit.cartonTypeId" #cartonTypeId="ngModel" required>
            <mat-option *ngFor="let cartonType of cartonTypes" [value]="cartonType.id">
              {{cartonType.code}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="showValidationErrors && f.submitted">Carton Type is required</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Store</mat-label>
          <mat-select [disabled]="!canManageCartonAssets" id="storeInfo" name="storeInfo" [(ngModel)]="cartonAssetEdit.storeInfoId" #storeInfoId="ngModel">
            <mat-option *ngFor="let storeInfo of storeInfos" [value]="storeInfo.id">
              {{storeInfo.code}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-label>Dish  (optional)</mat-label>
          <mat-select [disabled]="!canManageCartonAssets" [(ngModel)]="cartonAssetEdit.dishId" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let dish of dishs" [value]="dish.id">
              {{dish.code}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="clearfix"></div>
    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="!canManageCartonAssets" type="button" mat-button (click)="cancel()" >{{'common.editor.Close' | translate}}</button>
      <button *ngIf="canManageCartonAssets" type="button" mat-button (click)="cancel()" [disabled]="isSaving"><i class='fa fa-times'></i> {{'common.editor.Cancel' | translate}}</button>
      <button *ngIf="canManageCartonAssets" type="submit" mat-button [disabled]="isSaving">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('common.editor.Saving' | translate) : ('common.editor.Save' | translate)}}
      </button>
    </div>
  </form>
</div>
